body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("src\assets\crew\background-crew-desktop.jpg");
    background-size: cover;
    padding: 0 9em 10em 9em;
}

.body-title-number {
    color: var(--clr-gray);
    padding-right: 0.5em;
}

.crew-body-title {
    padding: 12em 0 1.5em 0;
}

/* Page Content */
.crew-section {
    position: fixed;
    bottom: 0;
}

.crew-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.crew-body-content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.crew-body-content-text-wrapper {
    position: fixed;
    top: 40%;
    width: 33%;
}

.crew-img {
    width: 40%;
    position: fixed;
    bottom: 0;
    right: 4em;
}

h3 {
    margin: 0;
}

h4 {
    color: var(--clr-gray);
    margin-bottom: 0.5em;
}

/* Page Nav */
.crew-body-content-nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 10%;
}

.nav-link-icon {
    background-color: rgba(255,255,255, 0.17);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 1.5em;
}

.nav-link-icon:hover {
    background-color: rgba(255,255,255, 0.5);
}

.crew-nav-link.active .nav-link-icon {
    background-color: var(--clr-light);
}

/* Tablet */
@media (max-width:768px) {
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("src\assets\crew\background-crew-tablet.jpg");
        padding: 2em;
    }    

    .crew-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .crew-body-content {
        width: 100%;
        align-items: center;
    }

    .crew-body-title {
        padding: 4em 0 1.5em 1em;
    }

    .crew-body-content-text-wrapper {
        position: relative;
        width: 100%;
        margin-bottom: 3.5em;
    }

    .crew-section {
        position: relative;
        width: 75%;
        text-align: center;
        margin: auto;
    }

    .crew-body-content-nav {
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 50%;
    }

    .nav-link-icon {
        width: 0.625rem;
        height: 0.625rem;
    }

    .crew-img {
        width: 50%;
        right: inherit;
        max-height: 45%;
    }

}

@media (max-width:375px) {
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("src\assets\crew\background-crew-mobile.jpg");
        text-align: center;
    } 
    
    .crew-section {
        position: relative;
    }

    .crew-body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .crew-body-content {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .crew-body-title {
        padding: 1.5em 0 0 0;
    }

    .crew-img {
        width: 50%;
        bottom: 53%;
        right: initial;
    }

    .crew-body-content-text-wrapper {
        top: 58%;
        width: 100%;
        padding: 0 2em;
    }

    .crew-body-content-nav {
        bottom: 45%;
        justify-content: space-between;
        width: 33%;
    }

    .crew-body-content-text {
        position: fixed;
        top: 60%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .nav-link-icon:last-of-type {
        margin: 0;
    }
}