body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("src\assets\technology\background-technology-desktop.jpg");
    background-size: cover;
    padding: 0 9em 10em 9em;
}

.body-title-number {
    color: var(--clr-gray);
    padding-right: 0.5em;
}

.technology-body-title {
    padding: 12em 0 1.5em 0;
}

.technology-body-text {
    margin-left: 5em;
    width: 50%;
}

.technology-body-text-title {
    margin: 0.25em 0;
}

/* Content */
.technology-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
}

/* Content Nav */
.subheading1 {
    margin-top: 0;
}
.technology-nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.technology-nav-link {
    color: var(--clr-light);
    text-decoration: none;
    width: 5rem;
    height: 5rem;
    margin-bottom: 2em;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technology-nav-link.active {
    color: var(--clr-dark);
    border: 1px solid var(--clr-light);
    background-color: var(--clr-light);
}

.technology-nav-link:hover {
    border: 1px solid var(--clr-light);
}

/* Content Image */
.technology-img {
    position: absolute;
    right: 0;
}

/* Tablet */
@media (max-width:768px) {
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("src\assets\technology\background-technology-tablet.jpg");
        padding: 2em;
    }  

    .technology-body-title {
        padding: 4em 0 1.5em 1em;
    }

    .technology-body {
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
    }

    .technology-body-text {
        width: 66%;
        position: fixed;
        top: 70%;
        margin: 0;
        text-align: center;
    }

    .technology-nav {
        flex-direction: row;
        position: fixed;
        bottom: 35%;        
    }

    .technology-nav-link {
        margin: 0.5em;
    }

    .technology-img {
        position: fixed;
        bottom: 48%;
    }
}

/* Mobile */
@media (max-width:375px) {
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("src\assets\technology\background-technology-mobile.jpg");
        text-align: center;
    } 

    .technology-body-title {
        padding: 1.5em 0 0 0;
    }

    .technology-nav {
        flex-direction: row;
        bottom: 48%;
        justify-content: space-between;
        width: 50%;
    }

    .technology-img {
        bottom: 63%;
    }

    .technology-body-text {
        width: 90%;
        top: 60%;
    }

    .technology-nav-link {
        width: 3rem;
        height: 3rem;
    }
}
